<% provide(:title, "グループ作成") %>
<h1>グループ作成画面</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with model: @group, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
      <%= f.label :グループ名 %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :概要記入欄 %>
      <%= f.text_area :group_about,  class: 'form-control' %>
      <%= f.submit "保存", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
